@import "tailwindcss";

@theme {
  --color-lime-neon: #cff347;
  --color-forest-green: #032d23;
  --color-light-gray: #f2f2f2;
  --color-pale-lime: #ecf9aa;
  --color-almond-cream: #f6e7c1;
  --font-rokkitt: "Rokkitt", serif;
  --font-mulish: "Mulish", sans-serif;
}